.card{
	box-sizing:border-box; 
	box-shadow: 5px 5px 2px black; 
	border: 2px solid black;
	margin: 1%;
	height:150px;  
	overflow:hidden;
}


.card-body{
	height:100%;
	width:65%; 
	float:right;
}


.image{
	height:100%; 
	width:35%; 
	float:left;
}

.image i{
	margin-left: 25%;
}

.brand{
	font-weight: bold;
}

